<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965134533152-135gdgd3ucj6auo3tisn5jqjc4cqd1io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965134533152-135gdgd3ucj6auo3tisn5jqjc4cqd1io</string>
	<key>API_KEY</key>
	<string>AIzaSyAkdaT4ynChni3E2kY0yzeRJP8qs16tHhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>965134533152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shikhar.prepowl.dev</string>
	<key>PROJECT_ID</key>
	<string>prepowl-dev-1fc4d</string>
	<key>STORAGE_BUCKET</key>
	<string>prepowl-dev-1fc4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965134533152:ios:41fa151edf74e18f4d3245</string>
</dict>
</plist>